@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './reset.scss';

body {
  background: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(31, 32, 65, 0.75);
}
