.header {
  height: 70px;
  position: relative;

  display: flex;
  align-items: center;

  background-color: #fff;
  box-shadow: 0 10px 20px $accent5;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 50px;
}

.header-nav {
  &.MuiGrid-root {
    margin-left: 50px;
    & .nav-item {
      padding: 0;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav-item__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 700;

  &.active {
    color: $blue;
  }

  &:hover {
    color: $blue;
  }

  transition: all 0.1s linear;
}

.header__divider {
  &.MuiDivider-root {
    margin-right: 15px;
  }
}

.header-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.header-buttons-button {
  text-decoration: none;
}
