.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  &--next {
    right: 0px;
  }
  &--before {
    left: 0px;
  }
}
