.filters__form {
  padding-top: 30px;
  padding-right: 60px;
}

.filters__item {
  margin-bottom: 20px;
}

.filters__group {
  border: none;
  padding: 0;
  width: 100%;
  &-title {
    font-size: $text-sm;
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: 700;
    color: $accent;
    margin-bottom: 16px;
  }
  & .MuiFormControl-root {
    margin-bottom: 15px;
  }
}

.filters__group-item {
  margin-bottom: 10px;
}
