.rooms-page {
  display: flex;
}

.rooms-page__filters {
  width: 325px;
}

.rooms-page__sorting {
  display: flex;
  gap: 10px;
}

.rooms-page__rooms {
  flex: 1;
}

.rooms__title {
  margin: 30px 0 20px;
}

.rooms-page__pagination {
  margin-bottom: 50px;
}

.rooms-page__pagination-info {
  margin-top: 10px;
  text-align: center;
}
