// Colors
$accent: #1f2041;
$accent75: rgba(#1f2041, 0.75);
$accent50: rgba(#1f2041, 0.5);
$accent25: rgba(#1f2041, 0.25);
$accent15: rgba(#1f2041, 0.15);
$accent10: rgba(#1f2041, 0.1);
$accent5: rgba(#1f2041, 0.05);
$purple: #bc9cff;
$purple15: rgba(#bc9cff, 0.15);
$blue: #8ba4f9;
$green: #6fcf97;
$green25: rgba(188, 156, 255, 0.25);
$red: rgb(211, 47, 47);
$gold: rgb(250, 175, 0);

// Fonts
$fontOpenSans: 'Open Sans', sans-serif;
$text-base-size: 14px;
$text-xs: 0.714rem; // 10px;
$text-sm: 0.8571rem; // 12px
$text-md: 1.357rem; // 19px
$text-lg: 1.714rem; // 24px
