@import './variables';
@import './components';
@import './libs';

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-size: $text-base-size;
  color: $accent75;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $accent;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
