.login-form__wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../../../../../assets/img/signIn-background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    display: block;
    top: 0;
  }
}

.login-form__card {
  padding: 30px;
  padding-top: 40px;
  width: 480px;
}

.login-form__footer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form__link {
  text-decoration: none;
}
